@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url(../images/bg-desktop.svg);
    background-color: var(--violeta);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    box-sizing: border-box;
    margin: 40px 60px;
}

.main{
    display: flex;
    margin-top: 20px;
}

.box-img{
    padding-right: 50px;
}

.box-txt{
    color: white;
    padding-right: 70px;
    padding-top: 70px;
}

.box-txt h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.box-txt p{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    padding: 10px 20px;
    width: 150px;
    border-radius: 40px;
    margin: 30px 0 0 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: var(--violeta);
    font-size: 16px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.495);
    background-color: white;
    transition: 0.2s;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--magenta);
    color: white;
    transition: 0.2s;
}

.footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

.icons{
    font-size: 20px;
}

.icons a i{
    color: white;
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.05cm solid white;
    margin: 0 10px;
    box-sizing: border-box;
}

.icons a i:hover{
    cursor: pointer;
    border-color: var(--magenta);
    color: var(--magenta);
    transition: 0.2s;
}